<h1>Listing softwares</h1>

<table>
  <thead>
    <tr>
      <th>App</th>
      <th>App name</th>
      <th>App spell</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @softwares.each do |software| %>
      <tr>
        <td><%= software.app_id %></td>
        <td><%= software.app_name %></td>
        <td><%= software.app_spell %></td>

        <td><%= link_to 'version', software  %></td>
        <td><%= link_to 'Show', software %></td>
        <td><%= link_to 'Edit', edit_software_path(software) %></td>
        <td><%= link_to 'Destroy', software, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Software', new_software_path %>
